.hero {
  width: 100%;
  box-sizing: border-box;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 0;
}

@media (max-width: 480px) {
  .hero-item {
    width: 50%;
    aspect-ratio: 1 / 1;
  }
}


.hero-item {
  width: 25%;
  aspect-ratio: 1 / 1;
  position: relative;
  box-sizing: border-box;
 transform: translateZ(0);
  opacity: 0;
  animation: pmFade 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  will-change: opacity, transform;
}


@keyframes pmFade {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.hero-item.show {
  animation: pmFade 1.4s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}
