.hero {
  width: 100%;
  box-sizing: border-box;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hero-item {
  width: 25%;
  padding-bottom: 25%; 
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 0;
}


@media (max-width: 480px) {
  .hero-item {
    width: 50%;
  }
}

