@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-sizing: border-box;
  margin-top: 20px;
}

.nav-left {
  flex: 1; 
}

.nav-center {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 20px;
  object-fit: contain;
}

.nav-right {
  flex: 1; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 50px; 
}

.nav-right a {
  font-family: 'Volkhov', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.nav-right a:hover {
  color: #808080; 
}

@media (max-width: 720px) {
  .nav-right { 
    display: none; 
  }
}